<div class="container">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Know.me", root_path, id: "logo" %>
        </div>
      </div>
    </header>

    <div class="center hero-unit">
        <h3>Call to know more about Ameya Kulkarni</h3>
        <h2>Enter your phone number to get details about Ameya Kulkarni</h2>
          <p style="color: #ff0000"><%= params['msg'] %></p>
        <form action="/voice_resume/makecall" method="post">
          <input type="text" name="number" /><br/>
          <input type="submit" class="btn btn-large btn-primary" value="Call me!">
        </form>
    </div>
</div>
